<div id="form">
  <h2>Edit Profile</h2>
  <form action="/user/profile/edit" method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{userToEdit.name}}" />
    </div> 
    <div>
      <label for="surname">Surname</label>
      <input type="text" id="surname" name="surname" placeholder="Your surname" value="{{userToEdit.surname}}"/>
    </div>
    <div>
      <label for="brithdate">Birthdate</label>
      <input type="date" id="brithdate" name="birthdate" value="{{getDateInputValue userToEdit.birthdate}}" />
    </div>  
    <div>
      <label for="gender">Gender</label>
      <select name="gender" id="gender">
        <option>Please select your gender</option>
          {{#each genders}}
        <option value="{{this.value}}" {{markSelected ../userToEdit.gender this.value}}>
              {{this.label}}
         </option>
         {{/each}}
      </select>
    </div>
    <div>
      <button type="submit">Save Changes</button>
    </div>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

  </form>
</div>