<h1>{{newEvent.name}}</h1>
<hr />
<p>{{event.date}}</p>
<p>{{event.location}}</p>
<p>{{event.distance}}</p>
<p>{{event.description}}</p>
<p><a href={{event.website}}>{{event.website}}</a></p>
<img src="{{event.imageUrl}}" class="card-img-top" alt="{{name}}" />

<a href="/event/{{event.id}}/edit">Edit</a>

{{!-- <p>Written by: {{book.author}}</p>
<p>Summary: {{book.description}}</p>
<p>Rating: {{book.rating}}/10</p>
<hr />
<a href="/books">Back</a> --}}