<h1>Events</h1>

<header>
  {{#if hasLoggedIn}}
    <a href="/event/create">
      <button>
        Create Event
      </button>
    </a>
  {{else}}
    <p>Please signin to create an event.</p>
  {{/if}}
</header>

{{#each events}}
  <div>

    <h3><a href="/event/{{_id}}">{{name}}</a></h3>
    <img
      src="{{imageUrl}}"
      class="card-img-top"
      height="200px"
      alt="{{name}}"
    />
    {{#if hasLoggedIn}}
      <form action="/user/profile/fav-event" method="post">
        <input type="text" name="event" hidden value="{{_id}}" />
        <button type="submit">Add to favorites</button>
      </form>
    {{/if}}

    {{!-- <p>{{location}}</p>
    <p>{{distance}}</p>
    <p><a href={{website}}>{{website}}</a></p> --}}

  </div>
{{/each}}