<h1>{{event.name}}</h1>
<label for="">Organised by:</label>
<h3>{{event.organiser.name}} {{event.organiser.surname}}</h3>
<hr />
<p>{{showDate event.date}}</p>
<p>{{event.location}}</p>
<p>{{event.distance}}</p>
<p>{{event.description}}</p>
<p><a href={{event.website}}>{{event.website}}</a></p>
<img src="{{event.imageUrl}}" class="card-img-top" alt="{{name}}" />

{{#if isOrganiser}}
  <a href="/event/{{event.id}}/edit">
    <button type="button">Edit</button>
  </a>
  <form action="/event/{{event.id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>
{{/if}}