<h1>Events</h1>

<header>
  {{#if hasLoggedIn}}
    <a href="/event/create">
      <button>
        Create Event
      </button>
    </a>
  {{else}}
    <p>Please signin to create an event.</p>
  {{/if}}
</header>

{{#each events}}
  <div style="display:inline flex; flex-direction: column;width:33%;">

    <a href="/event/{{_id}}" style="font-size: 2rem;">{{name}}

      <img
        src="{{imageUrl}}"
        height="350px"
        width="350px"
        style="object-fit: cover;"
        ;
        alt="{{name}}"
      /></a>

  </div>
{{/each}}