<h1>Events</h1>

<header>
    <a href="/event/create">
      <button>
        Create Event
      </button>
    </a>
</header>

{{#each events}}
  <div>

    <img
      src="{{imageUrl}}"
      class="card-img-top"
      height="200px"
      alt="{{name}}"
    />
    <h3><a href="/event/{{_id}}">{{name}}</a></h3>

    {{!-- <p>{{location}}</p>
    <p>{{distance}}</p>
    <p><a href={{website}}>{{website}}</a></p> --}}

  </div>
{{/each}}