<header class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h2 text-body-secondary">Events</h1>
  {{#if hasLoggedIn}}
    <a href="/event/create">
      <button class="btn btn-primary btn-sm">
        Create Event
      </button>
    </a>
  {{else}}
    <p class="text-body-secondary lead">Please signin to create an event.</p>
  {{/if}}
</header>

<section class="container mx-0 px-0">
  <article class="row row-cols">
  {{#each events}}
    <a href="/event/{{_id}}" style="max-width: 302px;" class="col-sm-6 col-lg-4 col-xl-3 text-decoration-none mb-5">
    
      <article class="card">
        <img
          src="{{imageUrl}}"
          class="card-img-top"
          height="200px"
          alt="{{name}}"
        />
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text"><i class="bi bi-geo-alt-fill me-2"></i>{{location}}</p>
          <p class="card-text"><i class="bi bi-calendar-date-fill me-2"></i>{{showDate date}}</p>
          {{#if ../hasLoggedIn}}
            <div class="d-flex justify-content-center center mt-3">
              <form action="/user/profile/fav-event" method="post" class="mb-0">
                <input type="text" name="event" hidden value="{{_id}}" />
                <button class="btn btn-outline-danger btn-sm" type="submit"><i class="bi bi-heart-fill me-2"></i>Add to favorites</button>
              </form>
            </div>
        </div>
        {{/if}}
      </article>
    </a>
  {{/each}}

  </article>
</section>
